<h1>Author:</h1>

<div class="app-container">
  <div class="comment-container">
    <h2>{{model.username}}</h2>
    <h5>{{model.name}}</h5>
  </div>
</div>

{{link-to 'Go back to list of Posts' 'posts'}}
